<div class="row dashboard-actions">
  <div class="col-xs-12">
    <fieldset class="form-group">
      <%= select_tag %> {{select_tag_for_processing_state}}
      <%= select_tag %> {{select_tag_for_sort_order}}
    </fieldset>
    <%= submit_tag("Filter") %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% if show_pagination? and @response.total_pages > 1 %>
        <div class="pagination">
          <%= render 'results_pagination' %>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
      <tr>
        <th>Title</th>
        <th>Creator(s)</th>
        <th>Program Name(s)</th>
        <th>Type</th>
        <th>Processing State</th>
        <th>Date Updated</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="{{path}}">{{title}}</td>
        <td>{{creator_names_to_sentence}}</td>
        <td>{{program_names_to_sentence}}</td>
        <td>{{work_type}}</td>
        <td>{{processing_state}}</td>
        <td>{{date_updated}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% if show_pagination? and @response.total_pages > 1 %>
        <div class="pagination">
          <%= render 'results_pagination' %>
        </div>
    <% end %>
  </div>
</div>